TMDB_API_KEY=your_tmdb_api_key_here
MONGODB_URI=mongodb://localhost:27017/kinokot
PORT=3001
JWT_SECRET=your-secret-key
RESEND_API_KEY=re_your_api_key_here
FRONTEND_URL=http://localhost:3000
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URI=http://localhost:3001/api/auth/google/callback
